.forecast {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin-top: 10px;
	gap: 20px;
}

.forecast-item {
	background-color: var(--light-primary-color);
	color: var(--text-color);
	text-align: center;
	padding: 10px 5px;
	border-radius: 28px;
}

.forecast-item.today {
	background-color: var(--secondary-color);
}

.forecast-temp {
	font-family: "Bebas Neue";
	font-size: 30px;
	transform: translateX(2%);
}

.forecast-item > * {
	margin-top: 0.25rem;
}
