.current-location {
	display: flex;
	flex-direction: column;
	height: 50%;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	margin: 30px 60px;
	padding: 30px;
	border-radius: 20px;
}
.current-location .location-holder {
	display: flex;
	align-self: flex-start;
	align-items: center;
}

.current-location .location-holder > * {
	display: inline;
}

.current-location .location-name {
	font-size: 18px;
}

.current-location .main-weather,
.current-location .secondary-weather {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.current-location .temp {
	margin-top: 5px;
	font-size: 84px;
	font-family: "Bebas Neue";
	transform: translateX(18%);
}

.current-location .weather-status {
	font-size: 18px;
	margin-bottom: 2rem;
}

.current-location .wind-data,
.current-location .humidity-data {
	display: flex;
	align-items: center;
	font-size: 18px;
	gap: 15px;
	width: 70%;
	justify-content: space-between;
}

.current-location .wind-label,
.current-location .humidity-label {
	display: flex;
	gap: 5px;
	align-items: center;
}
