@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Varela+Round&display=swap");

:root {
	--primary-color: rgb(49, 48, 96);
	--light-primary-color: rgb(60, 59, 112);
	--dark-primary-color: rgb(45, 42, 84);
	--secondary-color: rgb(131, 171, 255);
	--secondary-color-hover: rgba(131, 171, 255, 0.7);
	--text-color: rgb(255, 255, 255);
}

body {
	font-family: "Varela Round", sans-serif;
	color: var(--text-color);
	height: 100vh;
	margin: 0;
	width: 100vw;
	overflow: hidden;
}

.main-container {
	display: grid;
	grid-template-columns: 5fr 2fr;
	height: 100%;
}

.current-time {
	font-size: 50px;
	font-weight: 600;
}

.welcome-message {
	margin-block: 20px;
	font-size: 24px;
	font-weight: 600;
}

.panel {
	padding: 20px 50px;
	height: 100%;
}

.panel.right {
	background-color: var(--dark-primary-color);
}

.panel.left {
	background-color: var(--primary-color);
}

.details-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"forecast forecast"
		"aqi sun-stats";
}

.forecast {
	grid-area: forecast;
}

.air-quality {
	grid-area: aqi;
}

.button {
	border-radius: 7px;
	font-family: inherit;
	width: 30%;
	padding: 10px 20px;
	font-size: 15px;
	background-color: var(--secondary-color);
	color: var(--text-color);
	border: none;
	cursor: pointer;
	transition: 300ms;
}

.button:hover {
	background-color: var(--secondary-color-hover);
}

.right.panel .topbar .search {
	width: 400px;
	margin-inline: 50px;
	font-size: 18px;
	border: none;
	border-radius: 7px;
	background-color: var(--light-primary-color);
	color: var(--text-color);
	font-family: inherit;
	padding: 10px 20px;
}

.right.panel .topbar .search:focus {
	outline: none;
}

.right.panel .topbar .search::placeholder {
	color: var(--text-color);
	opacity: 0.7;
	font-style: italic;
}

.right.panel .weather {
	height: 100%;
}
